.card-widget {
  border-radius: 20px !important;
  max-width: 300px;
}

@media (min-width: 768px) {
  .card-widget {
    max-width: 300px;
  }
}

#newYear {
  font-family: "XiaoChengSuiYuanTi";
  font-size: 1.2em;
}
#post-info .post-title {
  font-family: "XiaoChengSuiYuanTi";
  font-size: 4em;
}

#post-meta {
  border: 1px solid #c9c9c9 !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: #fff2;
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 0 0 20px #0002;
  margin: auto !important;
  width: 100%;
  max-width: 480px;
}

#nav {
  justify-content: center !important;
  border-radius: 30px !important;
  margin-top: 6px;
  width: auto;
  left: 10%;
  right: 10%;
  font-size: 2em;
  font-family: "XiaoChengSuiYuanTi";
}
#nav *::after {
  background-color: transparent !important;
}
[data-theme="dark"] #nav {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  ) !important;
  backdrop-filter: blur(
    10px
  ) !important; /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 新增右侧容器样式 */
#nav-right-container {
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .menus_item_child li:not(#sidebar-menus li) {
    float: left;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
  }
  .menus_item_child:not(#sidebar-menus ul) {
    /*
    left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
  改为：*/
    left: 50%;
    translate: -50%;
  }
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
  height: 8px; /* 滚动条高度 */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(62, 184, 190, 0.5); /* 滚动条颜色 */
  border-radius: 10px; /* 圆角边框 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(41, 138, 228, 0.8); /* 鼠标悬浮时的颜色 */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 滚动条轨道透明 */
}

::-webkit-scrollbar-corner {
  background-color: transparent; /* 滚动条角落透明 */
}

/* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #f7f9febd;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #f7f9fe82;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #f7f9fe36;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #18171d;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}

/* 帧率检测 */
#fps {
  position: fixed;
  /* 指定位置 */
  right: 10px;
  bottom: 10px;
  z-index: 1919810;
}
[data-theme="light"] #fps {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}
[data-theme="dark"] #fps {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: var(--backdrop-filter);
  padding: 4px;
  border-radius: 4px;
}

[current-language="en"] .loading-img {
  background: url(/en/img/avatar.jpg) no-repeat center center !important;
  background-size: cover !important;
}
[current-language="zh"] .loading-img {
  background: url(/img/avatar.jpg) no-repeat center center !important;
  background-size: cover !important;
}

#category-bar {
  border-radius: 20px !important;
  height: auto !important;
  overflow: auto !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7)
  ) !important;
  backdrop-filter: blur(
    10px
  ) !important; /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(
    10px
  ) !important; /*兼容性前缀，适用于一些旧版本的浏览器 */
}

[data-theme="dark"] #category-bar {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  ) !important;
  backdrop-filter: blur(
    10px
  ) !important; /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(
    10px
  ) !important; /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 允许分类栏换行 */
.category-bar-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
  justify-content: center; /* 所有子项整体居中 */
  height: auto !important;
  font-size: 1.2em;
}

/* 数字上标 */
.category-bar-item sup {
  font-size: 0.75em;
  color: #999;
  margin-left: 4px;
  opacity: 0.8;
}

.recent-posts .recent-post-item {
  position: relative;
  border-radius: 10px !important;
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7)
  ) !important;
  backdrop-filter: blur(
    10px
  ) !important; /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(
    10px
  ) !important; /*兼容性前缀，适用于一些旧版本的浏览器 */
}

[data-theme="dark"] .recent-posts .recent-post-item {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  ) !important;
  backdrop-filter: blur(
    10px
  ) !important; /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(
    10px
  ) !important; /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px var(--theme-color) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px var(--theme-color) !important;
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  position: relative;
  z-index: 1; /* 确保原内容在上层显示 */
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

#card-info-btn:hover,
#card-info-btn:hover .icon,
#card-info-btn:hover span {
  transform: scale(1.1); /* 鼠标悬停时放大到110% */
}

[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.6),
    rgba(35, 37, 58, 0.5),
    rgba(35, 37, 58, 0.5),
    rgba(24, 40, 72, 0.6)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 侧边栏公告栏卡片渐变色 */
#aside-content > .card-widget.card-announcement {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

[data-theme="dark"] #aside-content > .card-widget.card-announcement {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 侧边栏目录最新文章卡片渐变色 */
#aside-content > .sticky_layout > .card-widget {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

[data-theme="dark"] #aside-content > .sticky_layout > .card-widget {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

[data-theme="dark"] #aside-content > .card-widget.welcomeBoxClass {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 公告卡片渐变色 */
#recent-posts > #noticeList {
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

[data-theme="dark"] #recent-posts > #noticeList {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  );
  backdrop-filter: blur(10px); /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 10px;
}

/* 夜间模式 Follow Me 按钮加深颜色 */
[data-theme="dark"] #aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #1f6f77; /* 深蓝色，可根据需求调整 */
  border-radius: 10px;
}

#envelope .comments {
  background-color: #fff !important;
  margin: 0 !important ;
  border: none !important;
}

.custom-hr {
  position: relative;
  margin: 10px auto;
  border: hidden !important;
  max-width: min(840px, 100%);
  height: 100px;
  background-image: url("/img/line.png"); /* 替换成你的图片URL */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* 或者 cover，根据需求 */
}

