#nav {
  justify-content: center !important;
  border-radius: 30px !important;
  margin-top: 6px;
  width: auto;
  left: 10%;
  right: 10%;
  font-size: 2em;
  font-family: "XiaoChengSuiYuanTi";
}
#nav *::after {
  background-color: transparent !important;
}
[data-theme="dark"] #nav {
  background: linear-gradient(
    -45deg,
    rgba(24, 40, 72, 0.7),
    rgba(35, 37, 58, 0.8),
    rgba(35, 37, 58, 0.8),
    rgba(24, 40, 72, 0.7)
  ) !important;
  backdrop-filter: blur(
    10px
  ) !important; /* 应用高斯模糊效果，可以根据需要调整模糊程度 */
  -webkit-backdrop-filter: blur(10px); /*兼容性前缀，适用于一些旧版本的浏览器 */
}

/* 新增右侧容器样式 */
#nav-right-container {
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .menus_item_child li:not(#sidebar-menus li) {
    float: left;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
  }
  .menus_item_child:not(#sidebar-menus ul) {
    /*
        left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
        改为：*/
    left: 50%;
    translate: -50%;
  }
}


#page-name:hover {
  color: aqua;
}
/* @media screen and (max-width: 900px) {
  #page-name,
  #menus {
    display: none !important;
  }
} */

